@model IEnumerable<CarDealerProject.Models.CarDealer>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h1>Index - Home</h1>

    @*@using (Html.BeginForm("Login", "Login"))
    {
        <fieldset class="right">
            <legend>Login</legend>

            <div class="editor-label">
                <span>Username</span>
            </div>
            <div class="editor-field">
                <input type="text" name="username" />
            </div>

            <div class="editor-label">
                <span>Password</span>
            </div>
            <div class="editor-field">
                <input type="password" name="password" />
            </div>

            <p class="right">
                <input type="submit" value="Login" />
            </p>
        </fieldset>
    }*@
</div>
