@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="welcome">
    @*@using (Html.BeginForm("Login", "Login"))
    {
        <fieldset class="right">
            <legend>Login</legend>

            <div>
                <span>Username</span>
            </div>
            <div>
                <input type="text" name="username" />
            </div>

            <div>
                <span>Password</span>
            </div>
            <div>
                <input type="password" name="password" />
            </div>

            <p class="right">
                <input type="submit" value="Login" />
            </p>
        </fieldset>
    }*@
</div>
