@using CarDealerProject.Models
@model IEnumerable<Car>

@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        @if (TempData["ErrorMessage"] != null)
        {
            var formattedMessage = MvcHtmlString.Create(Html.Encode(TempData["ErrorMessage"]));
            @Html.Raw("showMessageBox('Warning','" + formattedMessage + "');")
        }
    });
</script>

<div class="leftmenu">
    @{Html.RenderPartial("Search", new Car());}
</div>

<div id="dataContainer" class="content">
    @{Html.RenderPartial("ListDataContainer", @Model);}
</div>

<div class="rightmenu">
    @{Html.RenderPartial("Create", new Car());}
</div>

<div class="clear"></div>
