@using CarDealerProject.Models
@model IEnumerable<Car>

@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    @if (TempData["ErrorMessage"] != null)
    {
        @Html.Raw("showMessageBox('" + @TempData["ErrorMessage"] + "');") 
    }
</script>

<div class="leftmenu">
    @{Html.RenderPartial("Search", new Car());}
</div>

<div id="dataContainer" class="content">
    @{Html.RenderPartial("ListDataContainer", @Model);}
</div>

<div class="rightmenu">
    @{
        Html.RenderPartial("Create", new Car());
    }
    
</div>



<div class="clear"></div>