@model CarDealerProject.Models.Car

@{
    ViewBag.Title = "Delete car";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    Html.RenderPartial("SingleDataContainer", Model);

    <p>
        <input type="submit" value="Delete" />|
        @Html.ActionLink("Back to List", "All")
    </p>
}
