@model CarDealerProject.Models.Car

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("SingleDataContainer", Model);
}

<p class="center">
    <br />
    @Html.ActionLink("Back to List", "All") 
    @if(User.IsInRole("Admin"))
    {
        <span> | </span> 
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
</p>
