@model CarDealerProject.Models.Car

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/JSHelper.js")" type="text/javascript"></script>

<script type="text/javascript">
    @if (TempData["ErrorMessage"] != null)
    {
        @Html.Raw("showMessageBox('" + @TempData["ErrorMessage"] + "');") 
    }
</script>

<div>
    <h1>Index - Cars</h1>
    <p>
        <span>@Html.ActionLink("Get Cars", "All")</span>
    </p>
</div>
