@model CarDealerProject.Models.CarDealer

@{
    ViewBag.Title = "Delete car dealership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="center">Are you sure you want to delete this?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    Html.RenderPartial("SingleDataContainer", Model);
    
    <p class="center">
        <br />
        <input type="submit" value="Delete" />
        <a href="..\All"><input type="button" value="Cancel"/></a>
    </p>
}
