@model CarDealerProject.Models.CarDealer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("SingleDataContainer", Model);}

<p class="center">
    <br />
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "All")
</p>