@model CarDealerProject.Models.CarDealer

@{
    ViewBag.Title = "Car dealers -Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    @if (TempData["ErrorMessage"] != null)
    {
        @Html.Raw("showMessageBox('" + @TempData["ErrorMessage"] + "');") 
    }
</script>

<div>
    <h1>Index - CarDealers</h1>
    <p>
        <span>@Html.ActionLink("Get Car Dealers", "All")</span>
    </p>
</div>
